.k-radio-wrapper {
    box-sizing: border-box;
    margin-right: 10px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    .k-radio {
        display: inline-block;
        vertical-align: sub;
        .k-radio-input {
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
        }
        .k-radio-inner {
            position: relative;
            display: inline-block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 1px solid #d9d9d9;
            transition: all .3s;
            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                border-radius: 50%;
                transform-origin: center;
                border: 1px solid transparent;
            }
            &::after {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                width:10px;
                height: 10px;
                transform: translate(-50%, -50%) scale(0);
                background-color: #fff;
                border-radius: 50%;
                transition: all .2s cubic-bezier(.12,.4,.29,1.46) .1s;
            }
        }
        &.k-radio-checked {
            .k-radio-inner {
                border-color: rgb(24, 144, 255);
                &::after {
                    background-color: rgb(24, 144, 255);
                    transform: translate(-50%, -50%) scale(1);
                }
                &::before {
                    border-color: #1890ff;
                    animation: borderScale .5s cubic-bezier(.12,.4,.29,1.46) .1s forwards;
                }
            }
        }
    }
    .k-radio-text {
        padding: 0 10px;
    }
}