@import "https://at.alicdn.com/t/font_1750155_6zg5hwk6ifi.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Microsoft YaHei','Hiragino Sans GB',Helvetica,Arial,'Lucida Grande',sans-serif;
}

ul,
li {
    list-style: none;
}
